* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffed;
}

body {
  background-size: cover;
  background-image: url(/public/assets/woodTexture.jpg);
  position: fixed;
  height: 100%;
  width: 100%;
}

.chess-board {
  display: grid;
  row-gap: 0;
  column-gap: 0;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  width: 50%;
  margin: auto;
}

.chess-square {
  height: 6.4vw;
  width: 6.4vw;
  display: grid;
  place-content: center;
}

.chess-piece {
  width: 6.4vw;
  height: 6.4vw;
  background-size: 6.4vw;
  background-repeat: no-repeat;
  background-position: center;
}

.chess-piece:hover {
  cursor: grab;
}

.chess-piece:active {
  cursor: grabbing;
}
